#main_div {
    width: 100%;
    /*border: 1px solid #ccc;*/
    background-color: #403d3d;
    display:block;
    overflow:auto;
    height: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*max-width: 300px;*/
    text-align: center;
    font-family: arial;
    height: 350px;
    width: 15%; /* OR put 200px*/
    float: left;
    /*border: 1px solid #ccc;*/
    margin-left: 3.7%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    overflow:hidden;
}

#card_p:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#card_p {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

#card_p:hover:before, #card_p:focus:before, #card_p:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    overflow:visible;
}

.poster {
    width: 100%;
    height: 300px;
}

/* ---------------------------------------*/
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 18px;
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c7bbbc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #330104;
}


.bounce {
  width:100%;
  background-color:white;
  margin: 100px auto 0;
}
.ball {
  text-align: center;
  filter: blur(4px);
  font-size: 15px;
  color:black;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color:#f3ce13;
  margin: 0 auto;
  padding:9px;
  animation-name: bouncy;
  animation-duration:1s;
  animation-iteration-count: infinite;
}
.ball:hover {
  filter: blur(0px);
  animation-play-state: paused;
  height:100px;
  width:100px;
  border-top-right-radius: 10px;
}

@keyframes bouncy{
  0% {transform: translateY(0px);}
  50% {transform: translateY(-30px)}
  100% {transform:translateY(0px)}
}

/* check connection status */
#connect {
  float:right;
  color:white;
  font-size: 12px;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
@keyframes blink {
  0% {background-color: white}
  50% {background-color: green}
  100% {background-color: white}}
}